<h2>Welcome to Slop!</h2>
<div class="container">
    <row>
        <div class="col">
        </div>
        <div class="col-8">
            <p>Slop is a social network centered around recipes and workouts.
            Slop allows: users, friends, recipes, workouts and posts.
            Posts are linkable to recipes and workouts.</p>
        </div>
        <div class="col">
        </div>
    </row>
</div>
<footer>
Wumbo functionality coming soon to a Slop near you.
</footer>